.index-title {
  font-size: 100px;
}

.cardImg {
  height: 350px;
  object-fit: cover;
  object-position: center;
}

.productImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
